.lists {
  padding: 0;
}

.list {
  width: 32%;
  list-style-type: none;
  margin: 5px;
  display: inline-block;
}

.list img {
  border-radius: 4px;
  width: 100%;
}

.list p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
