.Page {
  position: absolute;
  left: calc(50% - 400px);
  height: 400px;
  width: 800px;
}

.lists {
  padding: 0;
}

.list {
  width: 32%;
  list-style-type: none;
  margin: 5px;
  display: inline-block;
}

.list img {
  border-radius: 4px;
  width: 100%;
}
